@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);

html {
  font-size: 12px;
}

:root {
  --prose-font-family: 'Open Sans', 'SF Pro', 'Segoe UI', sans-serif;
  --title-font-family: 'Roboto Slab';
  --burnt-sienna: #dd6e42ff;
  --dutch-white: #e8dab2ff;
  --cadet: #1c4777;
  --columbia-blue: #c0d6dfff;
  --platinum: #eaeaeaff;
}

body {
  margin: 0;
  color: #333;
  font-family: var(--prose-font-family);
  font-size: 2rem;
}

b,
strong {
  font-weight: 700;
}

input,
button,
textarea,
label,
select {
  font-family: var(--prose-font-family);
}

.dg {
  display: grid;
}

.df {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.ac {
  align-items: center;
}

.jc {
  justify-content: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

a {
  color: var(--cadet);
}

.main {
  display: flex;
}

.main-title {
  background: var(--cadet);
  color: var(--platinum);
  padding: 2rem;
  font-size: 3rem;
}

.secondary-title {
  background: var(--cadet);
  color: var(--platinum);
  padding: 1rem;
  font-size: 2.5rem;
}

.btn,
.select {
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border-width: 1px;
  border: 1px transparent;
  padding: 0.5rem 1rem;
  background: var(--cadet);
  color: var(--platinum);
  font-size: 2rem;
}

.ttu {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: var(--title-font-family);
  font-weight: 400;
}

.row {
  display: grid;
  justify-content: center;
  align-content: stretch;
}

.box1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-content: center;
  align-items: start;
}

#instructions {
  text-align: left;
  height: 542px;
  width: 300px;
  float: right;
}

#canvas {
  float: left;
  border: 1px solid #444;
  padding: 10px;
  grid-column: span 2;
}

.error {
  display: block;
  color: red;
  line-height: 30px;
  padding: 30px;
}

.center {
  text-align: center;
}

#toolbox {
  text-align: center;
}

#presetSelector {
  width: auto;
  display: inline-block;
}

footer {
  text-align: center;
  margin: 20px auto;
}

textarea {
  display: none;
  width: 75%;
  height: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  #instructions {
    width: 100%;
    height: auto;
  }
}

/* Styled table:
 * https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l
 */
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  border-radius: 0.25rem 0.25rem 0 0;
  overflow: hidden;
}

.content-table thead tr {
  background-color: var(--cadet);
  color: var(--platinum);
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--cadet);
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: var(--cadet);
}

.code:empty {
  display: none;
}

.code {
  padding: 1rem;
  border: 1px solid var(--cadet);
}
